{% extends 'base.html' %}
{% block content %}
{% load static %}
<main xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <!-- =======================
Main Banner START -->
    <section class="pt-0" style="padding:15px;">
        <div class="container position-relative">
            <!-- Title and button START -->
            <div class="row">
                <div class="col-12">
                    <!-- Meta -->
                    <div
                        class="d-flex justify-content-between align-items-lg-center">
                        <!-- Title -->

                        <!-- Buttons -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Title and button END -->

    </section>
    <!-- =======================
Main Banner END -->

    <!-- =======================
Main Content START -->
    <section class="pt-0">
        <div class="container" data-sticky-container>
            <div class="row g-4">

                <!-- Main content START -->
                <div class="col-xl-8">
                    <div class="vstack gap-5">

                        <!-- Main cab list END -->

                        <!-- Trip Details START -->
                        <div class="card border">
                            <!-- Card header -->

                            <!-- Card body START -->
                            <div class="card-body">
                                <!-- Form START -->
                                <form class="row g-4" action="{% url 'cab-booking' %}" method="post">

                                    <!-- Input -->

                                    <h5 class="mb-0 mt-4">Traveler Information</h5>

                                    <!-- Input -->
                                    <div class="col-md-6">
                                        {% csrf_token %}
                                        <div class="form-control-bg-light">
                                            <label class="form-label required" style="font-weight: bolder;">Full Name</label>
                                            <input value="{{user.username}}" style="font-style:italic" name="name" id="name" type="text" class="form-control form-control-lg" placeholder="Enter your name" required>
                                        </div>
                                    </div>
                                    <input value="{{source}}" name="pickup_city" id="pickup_city" hidden>
                                    <input value="{{destination}}" name="drop_city" id="drop_city" hidden>
                                    <!-- Input -->

                                    <!-- Input -->
                                    <div class="col-md-6">
                                        <div class="form-control-bg-light">
                                            <label class="form-label required" style="font-weight: bolder;">Mobile number</label>
                                            <input minlength="10" maxlength="10" style="font-style:italic" name="mobile_b" id="mobile_b" type="text" class="form-control form-control-lg" placeholder="Enter your mobile number" required>
                                        </div>
                                    </div>
                                           <div class="col-md-12">
                                        <div class="form-control-bg-light">
                                            <label class="form-label required" style="font-weight: bolder;">Email (Your E-ticket will be sent here)</label>
                                            <input style="font-style:italic" name="email" id="email" type="email" class="form-control form-control-lg" placeholder="Enter your email" required>
                                        </div>
                                    </div>

                                   <!-- <div class="col-md-6">
                                        <div class="form-control-bg-light">
                                            <label class="form-label required" style="font-weight: bolder;">Traveler number</label>
                                            <input style="font-style:italic" id="altmobile" name="altmobile" class="form-control form-control-lg" placeholder="Fill with country code" required>
                                        </div>
                                    </div>-->
                                    <div class="col-md-6">
                                        <div class="form-control-bg-light">
                                            <b><label class="form-label required" style="font-weight: bolder;">Pickup address</label></b>
                                            <input style="font-style:italic" name="pickup_address" id="pickup_address" type="text" class="form-control form-control-lg" placeholder="Enter your pick up address" required>
                                            <div class="form-text">This will help our cab driver reach you on time.</div>
                                        </div>
                                    </div>

                                    <!-- Input -->
                                    <div class="col-md-6">
                                        <div class="form-control-bg-light">
                                            <label class="form-label required" style="font-weight: bolder;">Drop address</label>
                                            <input style="font-style:italic" name="drop_address" id="drop_address" type="text" class="form-control form-control-lg" placeholder="Enter drop address" required>
                                            <input id="booking_id" name="booking_id" type="hidden">
                                            <input id="amount" name="amount" type="hidden" value="{{total_fare}}">
                                            <input id="date" name="date" type="hidden" value="{{date}}">
                                            <input id="time" name="time" type="hidden" value="{{time}}">

                                        </div>
                                    </div>
                                     <div class="form-check form-check-inline mb-1">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label h6 fw-normal mb-0">Send me trip details on WhatsApp</label>
                                    </div>




                                    <!-- Form END -->

                                </div>
                                <!-- Card body END -->
                            </div>
                            <!-- Trip Details END -->
                            <div class="container position-relative">
                                <!-- Title and button START -->

                            </div>

                        </div>
                    </div>
                    <!-- Main content END -->

                    <!-- Sidebar START -->
                    <aside class="col-xl-4">
                        <div data-sticky data-margin-top="80"
                            data-sticky-for="1199">

                            <div class="card border p-4">
                                <div class="card-body p-0">
                                    <div class="row g-0">
                                        <!-- Image -->
                                        <div class="col-md-6">

                                        </div>
                                        <div>

                                        </div>

                                        <!-- Title -->
                                        <div class="border-bottom ">
                                            <p><h6 class="mb-1">Trip Details</h6><b>Route:</b><span>{{source|join:" "}}>> {{destination|join:" "}}</span></p>
                                            <p><b>Car:</b><span> {{car}}</span> - <span> {{car_type}}</span> - <span> {{seat}}</span></p>
                                            Pickup-Date: <span>{{date|join:" "}}</span>& Time: <span>{{time|join:" "}}</span>
                                            Return-date:<span>{{re_date|join:" "}}</span>
                                        </div>

                                        <!-- List -->
                                        <ul
                                            class="list-group list-group-borderless mb-0">
                                            <li
                                                class="list-group-item d-flex justify-content-between">
                                                <span class="h6 fw-light mb-0">Base
                                                    Price</span>
                                                <span class="h6 fw-light mb-0">₹
                                                    {{base_fare}}</span>
                                            </li>
                                            <!--<li
                                                class="list-group-item d-flex justify-content-between">
                                                <span class="h6 fw-light mb-0">State
                                                    Tax</span>
                                                <span class="h6 fw-light mb-0">₹
                                                    0</span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between">
                                                <span class="h6 fw-light mb-0">Night
                                                    Charge</span>
                                                <span class="h6 fw-light mb-0">₹
                                                    0</span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between">
                                                <span class="h6 fw-light mb-0">Driver
                                                    Charges</span>
                                                <span class="h6 fw-light mb-0">₹
                                                    0</span>
                                            </li>-->
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <span class="h6 fw-light mb-0">Coupon Discount<span class="badge text-bg-danger smaller mb-0 ms-2">15%off</span></span>
                                                <span class="fs-6 text-success">- ₹ 0 </span>
                                            </li>
                                            <li
                                                class="list-group-item d-flex justify-content-between">
                                                <span class="h6 fw-light mb-0">GST(5%)</span>
                                                <span class="h6 fw-light mb-0">₹
                                                    {{gst|floatformat:"0"}}</span>
                                            </li>
                                            <li class="list-group-item py-0"><hr
                                                    class="my-0"></li>
                                            <!-- Divider -->
                                            <li
                                                class="list-group-item d-flex justify-content-between pb-0">
                                                <span class="h5 fw-normal mb-0">Total</span>
                                                <span class="h5 fw-normal mb-0">₹
                                                    {{ total_fare }}</span>
                                                <input type="hidden" name="total" value="{{total_fare}}">
                                            </li>
                                        </ul>

                                        <div class="d-grid mt-4 gap-2">



                                            <!-- Button -->
                                            <button type="submit" name="save" value="submit" class="btn btn-dark mb-0 mt-2">PROCEED</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </section>
</main>
<!-- Sidebar END -->

<section class="pt-0">
    <div class="container" data-sticky-container>
        <div class="row g-4">

            <!-- Main content START -->
            <div class="col-xl-8">
                <div class="vstack gap-5">

                    <!-- Main cab list END -->

                    <!-- Trip Details START -->
                    <div class="card border mt-4">
                        <div class="card border">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Meta -->
                                    <div style="align:center;">
                                        <div class="col-xl-12">
                                            <div class="vstack gap-5">

                                                <div class="container mt-3">

                                                    <div style="align:center;">
                                                        <!-- Nav pills -->
                                                        <ul
                                                            class="nav nav-pills nav justify-content-center" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-bs-toggle="pill" href="#home">INCLUSION</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-bs-toggle="pill" href="#menu1">EXCLUSION</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-bs-toggle="pill" href="#menu2">T&C</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <hr>

                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div id="home"
                                                            class="container tab-pane active"><br>

                                                            <ul class="list-group list-group-borderless mb-0">
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Driver, Vehicle and Fuel Charges</li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Toll Tax, State Tax, Driver Food & Stay Charges</li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>GST Charges (5%)</li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Only one pickup and drop</li>
                                                            </ul>
                                                        </div>
                                                        <div id="menu1" class="container tab-pane fade"><br>

                                                            <ul class="list-group list-group-borderless mb-0"><li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Airport entry charge</li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Parking charges</li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>Multiple Pickups and drops</li>
                                                            </ul>
                                                        </div>
                                                        <div id="menu2" class="container tab-pane fade"><br>
                                                            <h6>Driver & Cab Details</h6>
                                                            <ul class="list-group list-group-borderless mb-0">
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>
                                                                    Cab and driver details will be shared on your registered mobile number before 1 - 2 hours of pickup
                                                                </li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>
                                                                    Due to traffic or any other unavoidable reason, the pickup may be delayed for 30 minutes.
                                                                </li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>
                                                                    For nighttime driving (between 11:00 pm to 7:00 am) on any of the nights.
                                                                </li>
                                                                <li class="list-group-item mb-0 pb-0"><i class="bi bi-patch-check-fill text-primary me-1"></i>
                                                                    Trip details will be share on WhatsApp or Registered Email.
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="pt-0">
                    <div class="container" data-sticky-container>
                        <div class="row g-4">

                            <!-- Main content START -->
                            <div class="col-xl-12">
                                <div class="vstack gap-5">
                                    <!-- Main cab list END -->
                                    <!-- Card START -->
                                    <div class="card border mt-4">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom d-md-flex justify-content-md-between">
                                            <h5 class="card-title mb-0">Safety Guidelines</h5>
                                        </div>

                                        <!-- Card body -->
                                        <div class="card-body">
                                            <h6>Price Included</h6>
                                            <!-- List -->
                                            <ul
                                                class="list-group list-group-borderless mb-0">
                                                <li
                                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                                        class="bi bi-patch-check-fill text-primary me-2"></i>Your
                                                    trip includes one pick up in
                                                    Pick-up city and one drop to
                                                    destination city. It does
                                                    not include within city
                                                    travel.</li>
                                                <li
                                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                                        class="bi bi-patch-check-fill text-primary me-2"></i>If
                                                    your Trip has Hill climbs,
                                                    cab AC may be switched off
                                                    during such climbs.</li>
                                                <li
                                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                                        class="bi bi-patch-check-fill text-primary me-2"></i>Your
                                                    Trip has a KM limit. If your
                                                    usage exceeds this limit,
                                                    you will be charged for the
                                                    excess KM used.</li>
                                                <li
                                                    class="list-group-item h6 fw-light d-flex mb-0"><i
                                                        class="bi bi-patch-check-fill text-primary me-2"></i>To
                                                    know more about Terms and
                                                    Conditions you can read your
                                                    cancellation policy and
                                                    refund policy.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Card END -->

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
</section>

<!-- =======================
Main Content END -->

{% endblock %}