{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- =======================
Main Content START -->
<section class="pt-4 pt-md-5">
	<div class="container">
		<div class="row g-4">
			<div class="col-xl-8 mx-auto">
				<div class="vstack gap-4">
					<!-- Booking summary START -->
					<div class="card shadow">
						<!-- Card header -->
						<div class="card-header border-bottom p-4">
							<h1 class="mb-0 fs-3">Booking summary</h1>
						</div>
						<!-- Card body START -->
						<div class="card-body p-4">
							<div class="row g-md-4">
								<!-- Image -->
								<div class="col-md-3">
									<div class="bg-light rounded-3 px-4 py-5 mb-3 mb-md-0">
										<img src="{% static 'assets/images/category/cab/seadan.svg' %}" alt="">
									</div>
								</div>
								<!-- Card and address detail -->
								<div class="col-md-9"><h6 style="float:right;">Booking Id: {{booking_id}}</h6>
									<!-- Title -->
									<h5 class="card-title mb-2">Toyota Etios</h5>
									<ul class="nav nav-divider h6 fw-normal mb-2">
										<li class="nav-item">SEDAN</li>
										<li class="nav-item">AC</li>
										<li class="nav-item">2 Seats</li>
									</ul>
									<!-- Pick up and drop address -->
									<div class="row">
										<div class="col-md-6">
											<small>Pickup city</small>
											<p class="h6 fw-light mb-md-0">{{source|join:" "}}</p>
										</div>
										<div class="col-md-6">
											<small>Drop city</small>
											<p class="h6 fw-light mb-0">{{destination|join:" "}}</p>
										</div>
										<div class="col-md-6">
											<small>Pickup Address</small>
											<p class="h6 fw-light mb-0">{{pickup_address}}</p>
										</div>
										<div class="col-md-6">
											<small>Drop Address</small>
											<p class="h6 fw-light mb-0">{{drop_address}}</p>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<ul class="list-group list-group-borderless">
										<li class="list-group-item">Journey Date:<span class="h6 fw-normal mb-0 ms-1">{{date|join:" "}}</span></li>
										<li class="list-group-item">Distance:<span class="h6 fw-normal mb-0 ms-1">{{distance}} Km</span></li>
									</ul>
								</div>
								<div class="col-md-6">
									<ul class="list-group list-group-borderless">
										<li class="list-group-item">Time:<span class="h6 fw-normal mb-0 ms-1">{{time|join:" "}}</span></li>
									</ul>
								</div>
							</div>
							<!-- Title -->
							<h6 class="mb-0 mt-3">Traveller Detail</h6>
							<div class="row">
								<!-- List -->
								<div class="col-sm-8">
									<ul class="list-group list-group-borderless mb-0">
										<li class="list-group-item">Name:<span class="h6 mb-0 fw-normal ms-1">{{name}}</span></li>
										<li class="list-group-item">Email:<span class="h6 mb-0 fw-normal ms-1">{{email}}</span></li>
										<li class="list-group-item">Number:<span class="h6 mb-0 fw-normal ms-1">{{mobile_b}}</span></li>
									</ul>
								</div>
								<!-- Price -->

								<div class="col-sm-4 text-sm-end mt-3 mt-sm-auto">
									<h6 class="mb-1 fw-normal">Total Amount</h6>
									<h6 class="mb-0 text-success" >₹ {{total}}</h6>

									<!--<h6 class="mb-1 fw-normal">Total payable Amount</h6>
									<h6 class="mb-0 text-success">₹ {{ payment_amount }}</h6>
									<h6 class="mb-1 fw-normal">Remaining Amount</h6>
									<h6 class="mb-0 text-danger">₹ {{rem_amount}}</h6>-->
								</div>
							</div>


							<div class="form-check form-check-inline mb-0">
								<input class="form-check-input payment-option" type="radio" name="discountOptions" id="discount2" value="option2" checked>
								<label class="form-check-label h6 fw-normal mb-0" for="discount2">Pay 100% now (Full payment)</label>
							</div>
							<br>
							<div class="form-check form-check-inline mb-0">
								<input class="form-check-input payment-option" type="radio" name="discountOptions" id="discount1" value="option1">
								<label class="form-check-label h6 fw-normal mb-0" for="discount1">Pay 20% now (Advance Payment)</label>
							</div>
							<br>
							<div class="form-check form-check-inline mb-0">
								<input class="form-check-input payment-option" type="radio" name="discountOptions" id="discount3" value="option3">
								<label class="form-check-label h6 fw-normal mb-0" for="discount3">Pay Cash to driver</label>
							</div>
							<a href="{% url 'confirm' %}" class="btn btn-primary mb-0" style="float:right;">Pay <span id="payment-amount"></span></a>
							</div>

	<!-- Title -->
							<h5 class="mt-3">Booking detail will be sent to</h5>
							<div class="row g-2 g-md-2">
								<!-- Input item -->
								<div class="col-md-6">
									<label class="form-label">Mobile Number</label>
									<input type="text" class="form-control" placeholder="Enter your mobile number">
								</div>

								<!-- Input item -->
								<div class="col-md-6">
									<label class="form-label">Email Address</label>
									<input type="email" class="form-control" placeholder="Enter your email address">
								</div>
							</div>
							<!-- Number and email START -->

							<!-- Button -->
							<div class="d-grid mt-4">
								<a href="flight-booking.html" class="btn btn-primary mb-0">Proceed To Payment</a>
							</div>

						</div>

						<!-- Card body END -->
					</div>
					<!-- Booking summary END -->
			</div>
		</div>
	</div>
 </div>
</section>
<!-- =======================
Main Content END -->


{% endblock %}