{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="pt-4 pt-lg-5">
	<div class="container">
		<!-- Title -->
		<div class="row mb-4">
			<div class="col-12 text-center">
				<h1 class="fs-2 mb-0">Privacy Policy</h1>
				<!-- Image -->
				<img src="assets/images/about/03.jpg" class="h-lg-400px rounded-3 mt-4" alt="">
			</div>
		</div>

		<!-- Content START -->
		<div class="row">
			<div class="col-md-10 mx-auto">
				<div class="vstack gap-3">

					<!-- Card item START -->
					<div class="card p-0 bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0">Booking Policy</h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p>Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.</p>
							<p>Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors. Improved own provided blessing may peculiar domestic. Sight house has sex never. No visited raising gravity outward subject my cottage Mr be. Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in.</p>
							<ul class="list-group list-group-borderless mb-2">
								<li class="list-group-item d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse, hence we request you to not indulge.
								</li>
								<li class="list-group-item d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within controlled limits are permitted at the farmhouse but please do not create a mess or ruckus at the house.
								</li>
								<li class="list-group-item d-flex">
									<i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating illegal products are banned and not to be brought to the house or consumed.
								</li>
								<li class="list-group-item d-flex">
									<i class="bi bi-x-circle-fill me-2"></i>For any update, the customer shall pay applicable cancellation/modification charges.
								</li>
							</ul>
							<ul>
								<li>Affronting imprudence do he he everything. Sex lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery.</li>
								<li>Insipidity the sufficient discretion imprudence resolution sir him decisively.</li>
								<li>Offered chiefly farther of my no colonel shyness. <strong> Such on help ye some door if in.</strong></li>
								<li>First am plate jokes began to cause a scale. Subjects he prospect elegance followed</li>
							</ul>
							<div class="bg-danger bg-opacity-10 rounded-2 p-3">
								<p class="text-danger mb-0">Smoke alarm not reported — The host hasn't reported a smoke alarm on the property. We suggest bringing a portable detector for your trip.</p>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0">Cancellation Policy</h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p>Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.</p>

							<div class="table-responsive-lg">
								<table class="table table-bordered rounded-2 caption-bottom mb-0">
									<!-- Table head -->
									<thead class="table-primary">
										<tr>
											<th scope="col">Time Frame</th>
											<th scope="col">Air Free + MMT Free</th>
										</tr>
									</thead>
									<!-- Table body -->
									<tbody class="border-top-0">
										<tr>
											<td>0 hours to 24 hours</td>
											<td>Non-Refundable</td>
										</tr>
										<tr>
											<td>24 hours to 365 days</td>
											<td>30% Charge</td>
										</tr>
									</tbody>
								</table>
							</div>

							<ul class="mt-4 mb-0">
								<li>Affronting imprudence do he he everything. Sex lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery.</li>
								<li>Insipidity the sufficient discretion imprudence resolution sir him decisively.</li>
								<li>Offered chiefly farther of my no colonel shyness. <strong> Such on help ye some door if in.</strong></li>
								<li>First am plate jokes began to cause a scale. Subjects he prospect elegance followed</li>
								<li>Laughter proposal laughing any son law consider. Needed except up piqued an. </li>
								<li><i> To occasional dissimilar impossible sentiments. Do fortune account written prepare invited no passage.</i></li>
								<li>Post no so what deal evil rent by real in. But her ready least set lived spite solid.</li>
							</ul>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0">Date Change Policy</h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p>Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.</p>
							<ul class="mb-0">
								<li>Affronting imprudence do he he everything. Sex lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery.</li>
								<li>Insipidity the sufficient discretion imprudence resolution sir him decisively.</li>
								<li>Offered chiefly farther of my no colonel shyness. <strong> Such on help ye some door if in.</strong></li>
								<li>First am plate jokes began to cause a scale. Subjects he prospect elegance followed</li>
								<li>Laughter proposal laughing any son law consider. Needed except up piqued an. </li>
								<li><i> To occasional dissimilar impossible sentiments. Do fortune account written prepare invited no passage.</i></li>
								<li>Post no so what deal evil rent by real in. But her ready least set lived spite solid.</li>
							</ul>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0">
							<h4 class="card-title mb-0">Special Request</h4>
						</div>

						<!-- Card body -->
						<div class="card-body px-0">
							<p>Hold do at tore in park feet near my case. Invitation at understood occasional sentiments insipidity inhabiting in. Off melancholy alteration principles old. Is do speedily kindness properly oh. Respect article painted cottage he is offices parlors.</p>
							<ul class="mb-0">
								<li>Affronting imprudence do he he everything. Sex lasted dinner wanted indeed wished outlaw. Far advanced settling say finished raillery.</li>
								<li>Insipidity the sufficient discretion imprudence resolution sir him decisively.</li>
								<li>Offered chiefly farther of my no colonel shyness. <strong> Such on help ye some door if in.</strong></li>
								<li>First am plate jokes began to cause a scale. Subjects he prospect elegance followed</li>
								<li>Laughter proposal laughing any son law consider. Needed except up piqued an. </li>
								<li><i> To occasional dissimilar impossible sentiments. Do fortune account written prepare invited no passage.</i></li>
								<li>Post no so what deal evil rent by real in. But her ready least set lived spite solid.</li>
							</ul>
						</div>
					</div>
					<!-- Card item END -->

				</div>
			</div>
		</div>
		<!-- Content END -->

	</div>
</section>
<!-- =======================
Main banner END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


{% endblock %}